@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Notes Management Application</h1>
    <a asp-controller="Notes" asp-action="Create" class="btn btn-primary">Add Note</a>
    <a asp-controller="Notes" asp-action="Index" class="btn btn-secondary">View Notes</a>
</div>
